.addFilm {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 1rem 0 1rem;

    &__form {
        grid-column: 2/3;

        .input-group {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 400px) {
    .addFilm {
        display: flex;
        flex-direction: column;
        margin: 1rem;

        &__form {

            .input-group {
                margin-bottom: 1rem;

                &-prepend {
                    span {
                        width: 6rem;
                    }
                }
            }
        }
    }
}