.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  background: url("./../../img/zashita.png");
  background-size: 100%;
  background-position: center;

  box-shadow: 0 0 10px #00000011;

  span {
    text-align: center;
  }

  margin-bottom: 1rem;

  p {
    color: white;
    font-size: 100px;
    font-family: harry;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #248ffa3f;
  }
}

// Адаптив -> HOME => adaptive