@import 'variables';

.adminHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  background-color: $primary-blue-light;

  a {
    margin: 0 20px;
    color: whitesmoke;
    text-decoration: none;
  }
}