.adminHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 193, 241);
  
   a {
    margin: 0 20px;
    color: whitesmoke;
    text-decoration: none;
  }
}