// .App {
//   width: 1200px;
//   margin: 5px auto;
// }

.container {
  max-width: 80%;
}

@media only screen and (max-width: 768px) {

  .container {
    padding: 0;
  }

}

@media only screen and(max-width: 400px) {
  .App {
    width: 100%;
    margin: 0 auto;
  }
}



@font-face {
  src: url('fonts/HarryPotter.ttf');
  font-family: harry;
}

@font-face {
  src: url(fonts/Caveat-Bold.ttf);
  font-family: caveat;
}