.addCourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1em;

  .input-group {
    >div span {
      min-width: 11rem;
    }

    input[type='color'] {
      padding: 0;
    }
  }

  &__textarea {
    width: 100%;

    & .input-group {
      >div span {
        min-width: 15rem;
      }
    }
  }

  * {
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  .addCourse {

    width: 95%;

    .input-group {
      >div span {
        min-width: 7rem;
        font-size: .8rem;
      }
    }

    &__textarea {
      & .input-group {
        >div span {
          max-width: 10rem;
        }
      }
    }

    * {
      font-weight: 500;
    }
  }
}