@keyframes ldio-aeih1dqlueu {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-aeih1dqlueu div {
    left: 95px;
    top: 42px;
    position: absolute;
    animation: ldio-aeih1dqlueu linear 1s infinite;
    background: #182731;
    width: 10px;
    height: 28px;
    border-radius: 5px / 14px;
    transform-origin: 5px 58px;
}

.ldio-aeih1dqlueu div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #182731;
}

.ldio-aeih1dqlueu div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #182731;
}

.loadingio-spinner-spinner-ylgxgwqk2h {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff00;
}

.ldio-aeih1dqlueu {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-aeih1dqlueu div {
    box-sizing: content-box;
}