.user {
  // width: 60%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 100px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  
  > span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }
}