.user {
  .list-group-item {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    align-items: center;

  }

  &>:first-child {
    font-weight: 600;
    font-size: 1.1rem;
    color: #002d8d
  }
}

@media (max-width: 400px) {
  .user {
    * {
      font-size: .8rem;
    }

    .list-group-item {
      span {
        // max-width: 0.25 * 100vw;
        word-break: break-all;
        padding: .5rem;
        // font-size: .7rem;
      }
    }
  }
}