.advantages {

  justify-content: space-evenly;
  background-image: linear-gradient(to right, #00273ab9, #00273ad3), url("./../../img/advantagesBg.jpg");
  background-size: cover;
  text-align: center;

  & .container {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    // margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p {
      margin: .5rem 0 0 0;
    }
  }

  &__icon {
    font-size: 70px;
    color: whitesmoke;
  }

  p {
    color: whitesmoke;
    font-family: 'caveat';
    text-transform: uppercase;
  }
}