.info-course {
    font-size: 1.1em;
    background-color: #f5f5f5;

    p {
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-bottom: 1em;
    }

    border: 1.5px solid #00000018;
    padding: 1rem;
    border-radius: .2rem;
    letter-spacing: .5px;
}