.info-course {
    font-size: 1.1em;
    box-shadow: 0 0 10px #00000025;


    margin: 0 0 1rem auto;

    p {
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-bottom: 1em;
    }

    padding: 1rem 1rem 0 1rem;
    border-radius: .2rem;
    letter-spacing: .5px;
}