
.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3168a5;
  color: #fff;
  padding: 10px;

  
  a {
    text-decoration: none;
    color: whitesmoke;
    :hover {
      text-decoration: none;
      color: whitesmoke;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

}