.Module {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #39495a;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 7px 15px;
  margin: .5em 0 .1em 0;
  border-radius: .6em .6em 0 0;
  border: 1px solid #00000021;
  height: 4em;


  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}