.films {

  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1em;

  &__player {

    iframe {
      border-radius: .4rem;
      box-shadow: 0 0 8px #00000035;

    }
  }

  * {
    word-break: break-all;
  }

  &__list {

    max-height: 35rem;

    overflow-y: scroll;

    box-shadow: 0 0 8px #00000020;

    margin-bottom: 1rem;

    li {
      cursor: pointer;
    }
  }
}

@media (max-width: 450px) {
  .films {
    grid-template-columns: 1fr;

    &__player {
      margin-bottom: 1rem;
      height: 250px !important;
    }
  }
}