.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;


  &_left-part,
  &_right-part {
    display: flex;
    align-items: center;
  }

  &_left-part>* {
    margin-right: 50px;
  }

  &_right-part>* {
    margin-left: 42px;
  }

  &_right-part {
    button {
      margin-left: 1rem;
    }
  }

  .greetings strong {
    color: #0b4864;
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .header {

    padding: 1rem .5rem 0;

    justify-content: space-between;

    &_left-part {
      &>* {
        margin: 0;
      }

      & button {
        margin: 1rem 0 0 0;
      }

      flex-direction: column;

      .greetings {
        text-align: center;
      }
    }
  }
}