.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #fcfcfc;

  &_left-part, &_right-part {
    display: flex;
    align-items: center;
  }

  &_left-part > * {
    margin-right: 50px;
  }

  &_right-part > * {
    margin-left: 42px;
  }

  // .header__greetings {
  //   margin-left: 30px;
  // }
}
