.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background: linear-gradient(45deg,#94c5f7, #00a8a8);
    .formBgc{
      background-color: #fff;
      padding: 50px;
      border-radius: 10px;
    }
    form{
    display: flex;
    flex-direction: column;
    label{
      display: flex;
      justify-content: space-between;
      span{
        margin-right: 1em;
      }
    }
  }
}