.SignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;


  // background: linear-gradient(45deg,#aacff3, #248ffa);
  .formBgc {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #17a2b8;
    margin: 0 1rem 0 1rem;

    form {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          margin-right: 1em;
        }
      }
    }
  }


}