.SignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  .formBgc {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000025;
    margin: 0 1rem 0 1rem;

    form {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          max-width: 12rem;
        }

        span {
          margin-right: 1em;
        }
      }
    }
  }


}